<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Addresses</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

<!-- Inclure la navbar -->
<div th:replace="~{navbar}"></div>

<!-- Contenu spécifique à cette page -->
<div>
    <h1>Les différentes adresses</h1>
    <ul th:each="address : ${allAddresses}">
        <li>
            <span th:text="${address.content}"></span> -
            <span th:text="${address.author}"></span>
        </li>
    </ul>
</div>

</body>
</html>
